* {
  font-family: 'Plus Jakarta Sans'
}

body{
  background-color:rgb(246, 253, 253) ;
}
input {
  font-family: 'Plus Jakarta Sans';
}

tr:hover {
  background-color: lightblue;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.w-fit-content {
  width: fit-content;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.cart-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.cart-td {
  margin: 1rem
}

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', roboto;
}
.strikethrough {
  text-decoration: line-through;
}

.edit-button {
background-color: lightsalmon;
border-radius: 6px;
padding: 4px 8px;
box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
margin: 0 4px;
}

.delete-button {
background-color: lightcoral;
border-radius: 6px;
padding: 4px 8px;
box-shadow: 0 4px 4px rgb(0 0 0 / 20%)
}

.edit-button,
.delete-button,
.button-styling:hover {
  cursor: pointer;
}

.button-styling {
  height: 4rem;
  width: auto;
  margin: 1rem;
  padding: 5px 68px;
  border-radius:10px;
  border: none;
  color: white;
  background-color: rgb(10, 186, 181);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -1px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%)
}

.sum-row-styling {
  border-top: 1px solid gray;
}

.shopping-cart-styling {
  empty-cells: show;
}

.form-styling {
  background-color: white;
  padding: 2rem;
  box-shadow: 1px 4px 4px rgb(0 0 0 / 20%)
}

label {
  margin: 5px;
}

.button-styling:hover {
  background-color: rgb(8, 160, 156);
}

.button-styling:active {
  background-color: #1e93ba;
  box-shadow: 2px 3px #666;
  transform: translateY(4px);
}



.tr-heading:hover {
  background-color: white;
}

td>input {
  text-align: center;
  align-items: center;
  padding: 0;
  border: none;
}

tr{
  padding: 0px 5px 0px 5px;
  background-color: white;

}
td{
  margin: 0px;
  padding: 3px 0;
  border: none;
}

input{
  align-items: center;
  text-align: center;
  margin-bottom: 2px;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}

tbody {

  padding: 2rem;
  background-color: white;
  box-shadow: 1px 4px 8px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.ms-1{
  margin-left: 10px;
}

.mt-5px{
  margin-top: 5px;
}

.cart-tr>td {
  padding: 10px;
}
