* {

  font-family: 'Plus Jakarta Sans'
}
input {
  font-family: 'Plus Jakarta Sans';
}

tr:hover {
  background-color: blue !important;
  border-collapse: collapse;
}

.flex {
  display: flex;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.w-fit-content {
  width: fit-content;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', roboto;
}
.strikethrough {
  text-decoration: line-through;
}

.edit-button {
background-color: lightsalmon;
border-radius: 10px;
border: 1px solid #1c1c1c;
padding: 2px 4px;
}

.delete-button {
background-color: lightcoral;
border-radius: 10px;
  border: 1px solid #1c1c1c;
  padding: 2px 4px;
}

.edit-button,
.delete-button,
.button-styling:hover {
  cursor: pointer;
}

.button-styling {
  height: auto;
  width: auto;
  margin: 1rem;
  padding: .5rem;
  border-radius:10px;
  border: 1px solid black;
  background-color: lightblue;
  font-family: sans-serif;
  font-size: 2rem;
  box-shadow: 2px 5px #999
}

label {
  margin: 5px;
}

.button-styling:hover {
  background-color: #1e93ba;
}

.button-styling:active {
  background-color: #1e93ba;
  box-shadow: 2px 3px #666;
  transform: translateY(4px);
}

td>input {
  border-collapse: collapse !important;
  text-align: center;
  padding: 0;
  border: none;
}

td{
  margin: 0px;
  padding: 3px 0;
  border: none
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}
