* {
  font-family: 'Plus Jakarta Sans'
}

/* utility classes */
.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.w-fit-content {
  width: fit-content;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.green {
  color: green;
}

.red {
  color: red
}

.ms-1 {
  margin-left: 10px;
}

.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', roboto;
}

.strikethrough {
  text-decoration: line-through;
}

.edit-button {
  background-color: lightsalmon;
  border-radius: 6px;
  padding: 4px 8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
  margin: 0 4px;
}

.delete-button {
  background-color: lightcoral;
  border-radius: 6px;
  padding: 4px 8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%)
}

button,
.edit-button,
.delete-button,
.button-styling:hover {
  cursor: pointer;
}

.button-styling {
  height: 4rem;
  width: auto;
  margin: 1rem;
  padding: 5px 68px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(10, 186, 181);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -1px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 20%)
}

label {
  margin: 5px;
}

body{
  background-color:rgb(246, 253, 253) ;
}
input {
  font-family: 'Plus Jakarta Sans';
}

/* admin page*/
.submit-button {
  color: white;
  background-color: rgb(10, 186, 181);
  border: none;
  border-radius: 5px;
  height: 2rem;
  text-align: center;
  margin-top: .6rem;
}

.submit-button:hover {
  cursor: pointer
}

tr:hover {
  background-color: lightblue;
}

td>input {
  text-align: center;
  align-items: center;
  padding: 0;
  border: none;
}

tr {
  padding: 0px 5px 0px 5px;
  background-color: white;

}

td {
  margin: 0px;
  padding: 3px 0;
  border: none;
}

input {
  align-items: center;
  text-align: center;
  margin-bottom: 2px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

tbody {
  padding: 2rem;
  background-color: white;
  box-shadow: 1px 4px 8px rgb(0 0 0 / 20%);
  border-radius: 10px;
}

.apply-coupon-button {
  height: 2.3rem;
  width: auto;
  border-radius: 5px;
  border: none;
  padding: 4px 10px;
  color: white;
  background-color: rgb(10, 186, 181);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: -1px;

}


/* checkout page */

.apply-coupon-input {
  border-radius: 5px;
  height: 2rem;
  margin: 0;
  border: 2px solid gray;
  font-size: 1rem;
  margin-right: 2px;

}

.apply-coupon-form{
  margin-bottom: .5rem;
  position: relative;
  margin: auto;
}

#saved {
  color: green;
  font-weight: bold;
}

.status-box {
  right: -130px;
  top: -8px;
}

.sum-row-styling {
  border-top: 1px solid gray;
}

.shopping-cart-styling {
  empty-cells: show;
}

.form-styling {
  background-color: white;
  padding: 2rem;
  box-shadow: 1px 4px 4px rgb(0 0 0 / 20%)
}

.cart-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.cart-td {
  margin: 1rem
}


.apply-coupon-button:hover,
.button-styling:hover {
  background-color: rgb(8, 160, 156);
}


.button-styling:active {
  background-color: #1e93ba;
  box-shadow: 2px 3px #666;
  transform: translateY(4px);
}



.tr-heading:hover {
  background-color: white;
}

.cart-tr>td {
  padding: 10px;
}
